
* {
  box-sizing: border-box;
}
main {
  margin: 150px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .grid__item {
    background-color: white;
    padding: 10px;
  }
