
* {
  box-sizing: border-box;
}
ul {
  list-style-type:none;
}
.button-class {
  /* background-color: #764A41;  */
  /* border: none;
  color: lightgray; */
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  background-color: lightgray;
  color: #764A41;
  border: none;
}
